<!-- <div class="container ">
    <h1 class="text-center">Contacto</h1>
    <div class="row col-12 col-sm-6 col-md-6">
        <div class="Información col-12 col-sm-12 col-md-6">
            <ul class="lista">
                <li>Direccion: Cr 54 #28-c</li>
                <li>Correo: <a href="mailto:andresfelipes@gmail.com">andresfelipes@gmail.com</a></li>
                <li>Celular: <a href="https://wa.me/573053152641">3053152641</a> </li>
            </ul>
        </div>

        <div class="formulario col-12 col-sm-12 col-md-6">
            <div class="input-group mb-3 mt-4">
                <span class="input-group-text" id="basic-addon1">Usuario</span>
                <input type="text" class="form-control" placeholder="Usuario" aria-label="Usuario"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Correo" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">Correo</span>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Asunto</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>

            <div class="input mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="input btn btn-primary">Enviar</button>

        </div>
    </div>
</div> -->

<div class="content">

    <h1 class="logo">Contacta<span>nos</span></h1>

    <div class="contact-wrapper animated bounceInUp">
        <div class="contact-form">
            <h3 class="text-light">Contactanos</h3>
            <form action="">
                <p>
                    <label class="text-light">Nombre Completo</label>
                    <input type="text" name="Nombre Completo">
                </p>
                <p>
                    <label class="text-light">Correo</label>
                    <input type="email" name="Correo">
                </p>
                <p>
                    <label class="text-light">Celular</label>
                    <input type="tel" name="Celular">
                </p>
                <p>
                    <label class="text-light">Asunto</label>
                    <input type="text" name="Asunto">
                </p>
                <p class="block">
                    <label class="text-light">Mensaje</label>
                    <textarea name="Mensaje" rows="3"></textarea>
                </p>
                <p class="block">
                    <button class="text-light">
                        Enviar
                    </button>
                </p>
            </form>
        </div>
        <div class="contact-info">
            <h4 class="text-light">Mas informacion</h4>
            <ul>
                <li class="text-light"><i class="fas fa-phone"></i> Cr 34 #45-8</li>
                <li class="text-light"><i class="fas fa-phone"></i> 3053152641</li>
                <li class="text-light"><i class="fas fa-envelope-open-text"></i> andresfelipes1823@gmail.com</li>
            </ul>
        </div>
    </div>

</div>

<br>