.diseñador{
    text-align: right;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.programador{
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}