<div class="container">
    <h1 class="text-center">Equipo</h1>
    <div class="row">
        <ul class="programador col-12 col-sm-12 col-md-6">
            <li>Nombre: Andres Felipe Sanchez henao</li>
            <li>Cargo: Tecnologo en sistemas</li>
            <li>Funcion: Diseño de la pagina web y funcionalidad</li>
            <hr>
        </ul>
        <ul class="diseñador col-12 col-sm-12 col-md-6">
            <li>Tobias Rendon Londoño :Nombre</li>
            <li>Diseño grafico :Cargo</li>
            <li>Diseño de la pagina en la aplicacion Figma :Funcion</li>
            <hr>
        </ul>
    </div>
</div>